.pagination_component {
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pages_number {
    margin: 0 1em;
    width: 3em;
}

.submit_pages_number {
    cursor: pointer;
    width: 4em;
}

.pagination ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination ul li {
    list-style-type: none;
    margin-right: 1em;
    width: 1em;
    -webkit-box-shadow: 0 0 5px 4px rgba(0, 41, 132, 0.2);
    -moz-box-shadow: 0 0 5px 4px rgba(0, 41, 132, 0.2);
    box-shadow: 0 0 5px 4px rgba(0, 41, 132, 0.2);
    border-radius: 5px;
    cursor: pointer;
}