.table {
    border-radius: 15px;
    -webkit-box-shadow: 0 0 5px 4px rgba(0, 41, 132, 0.2);
    -moz-box-shadow: 0 0 5px 4px rgba(0, 41, 132, 0.2);
    box-shadow: 0 0 5px 4px rgba(0, 41, 132, 0.2);
}

table {
    border-collapse: collapse;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

thead th {
    padding: 10px;
    text-transform: uppercase;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #3f51b5;
    color: #ffffff;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

tbody td {
    text-align: center;
    height: 3em;
}

tfoot th {
    text-align: right;
}