input {
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 4px rgba(0, 41, 132, 0.2);
    -moz-box-shadow: 0 0 5px 4px rgba(0, 41, 132, 0.2);
    box-shadow: 0 0 5px 4px rgba(0, 41, 132, 0.2);
    border: none;
    font-size: 20px;
}